name: Hello World
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Hello World
        run: echo "Hello, World Again! This is ${{ secrets.name }}"
      - name: Print secret length
        run: |
            MY_SECRET="${{ secrets.name }}"
            echo "Secret length is ${#MY_SECRET}"